In [ ]:
import keyword
print('%.5s'%'mahendra')
print('%.9s'%'mahendra')

mahen
mahendra

In [ ]:
a=2+2
print(a)
#print(type(a))
b,c,d=5.0,86,'hi'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

4
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
e=d+str(a)
print(e)

hi4

different ways to **print**

In [ ]:
name="virat"
Number=18
print(name,Number)
print(name+" "+str(Number))  #concat
print("Name: "+name+"\nNumber: "+str(Number))
print("Name:{},Number:{}".format(name,Number))
print("Name:{0},Number:{0}".format(name,Number))
print("Name:{1},Number:{0}".format(name,Number))
print("Name:{a},Number:{b}".format(a=name,b=Number))
print("Name:%s,Number:%d"%(name,Number))

virat 18
virat 18
Name: virat
Number: 18
Name:virat,Number:18
Name:virat,Number:virat
Name:18,Number:virat
Name:virat,Number:18
Name:virat,Number:18

# DAY-2

*   5 types of operations in all programming language in python 2 mor operators where added membership o/p, identity o/p

***operations*** membership


*   the function is  performing the operation "is in","not in"
*   SYNTAX:   print(3 in my_list)
*   it check the object or a value is present in that variable or not

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9]
print(3 in my_list)
print(3 not in my_list)

True
False

***IDENTITY OPERATOR***

In [ ]:
x = [1, 2, 3]
y = x  # y now refers to the same object as x
z = [1, 2, 3]  # z is a new object, even though it has the same values as x
a = z

print(x is y)  # Output: True
print(x is z)  # Output: False
print(x is not z)  # Output: True
print(a is x)# it accept only the variable that has used to storeb in another varible

True
False
True
False

 SWAPING OF A NUMBER

In [ ]:
a=2
b=3
#logic 1
temp = a
a=b
b=temp
print(a,b)

#logic 2
a=a^b
b=a^b
a=a^b
print(a,b)

3 2
2 3

In [ ]:
a,b=2,3
#logic 1
a=b+a
b=a-b
a=a-b
print(a,b)

#logic 2
a,b=b,a
print(a,b)

#LOGIC 3
def swap(a,b):
    return (b,a)
a,b=(swap(a,b))
print(a,b)

#logic 4

a=a*b   #6
# if we give " / " the answer will be 2.0,3.0 if we give " // " it give 2,3
b=a//b  #3
a=a//b  #2
print(a,b)


#logic 5

c,d=23,65
c,d=[d,c] #usingÂ list
print(c,d)

3 2
2 3
3 2
2 3
65 23

# ***control statement***



1.   condition conteolflow


*   if
*   if else
*   if elif else
*   nested if
*   nested ifelse


2.   uncondition conteolflow


*   break: Terminates the current loop and resumes execution at the next statement after the loop. Typically used inside for or while loops.
*   continue:Skips the remaining code in the current iteration of a loop and proceeds to the next iteration. Also used inside loops.
*   pass:A null operation; it does nothing. Often used as a placeholder when code is required syntactically but no action is needed.

# ***LOOPING STATEMENT***

*   for loop
*   while loop

# ***TERNARY OPERATOR***


*   SYNTAX : result = value_if_true if condition else value_if_false

In [ ]:
# EXAMPLE
age = int(input())
status = "adult" if age >= 18 else "minor"
print(status)  # Output: adult

3
minor

# problem 1
Get two integers x and y from the user and write a python program to relate 2 integers as equal to, less than or greater than. Input format: Input consist of 2 integers The first input corresponds to the first number(x) The second input corresponds to the second number(y) Output format: If the first number is equal to the second number, print "x and y are equal". Otherwise, print "x greater than y" or "x less than y"


Input (stdin)

17
12

Output (stdout)

17 greater than 12

Input (stdin)

3
4

Output (stdout)

3 less than 4

dont use print(a greater then b)

In [ ]:
i,j=int(input()),int(input())
if(i==j):
  print("{a} and {b} are equal".format(a=i,b=j))
elif(i>j):
  #print("{} greater than {}".format(i,j))
  print("%d greater than %d" %(i,j))
else:
  print("{1} less than {0}".format(i,j))

2
1
2 greater than 1

# problem 2

Write a python program to check whether the given character is vowel or consonant. Input format: The input consist of a character Output format: The output consists of a below-given string âVowelâ / âConsonantâ / âNot an alphabetâ


Input (stdin)

a

Output (stdout)

Vowel

Input (stdin)

l

Output (stdout)

Consonant

In [ ]:
car=str(input())
if car.isalpha() & len(car)==1:
  # car.lower()
  # print(car)
  if car in 'aeiouAEIOU':
    print("Vowel")
  else:
    print("Consonant")
else:
  print("Not an alphabet")

a
Vowel

# PROBLEM 3
Dora is interested so much in gardening and she plants more trees in her garden. She plants trees in a rectangular fashion with the order of rows and columns and numbered the trees in row-wise order. She planted the mango tree only in a 1st row, 1st column and last column. So given the tree number, your task is to find whether the given tree is a mango tree or not? Write a program to check whether the given number is a mango tree or not.
Input format:
 Input consists of 3 integers The first input denotes the number of rows The second input denotes the number of columns The third input denotes the tree number Output format: If the given number is a mango tree, print "Yes". Otherwise, print "No" Refer the sample output for formatting


Input (stdin)

5
5
11

Output (stdout)

Yes

Input (stdin)

2
2
4

Output (stdout)

Yes

In [ ]:
# Get input
rows = int(input())
cols = int(input())
tree_number = int(input())

# Check if the tree is a mango tree
if (tree_number <= cols or  # First row
    tree_number % cols == 1 or  # First column
    tree_number % cols == 0):  # Last column
  print("Yes")
else:
  print("No")

5
5
11
Yes

# PROBLEM 4

Write a python program to calculate the hotel tariff. The room rent is 20% high during peak seasons [April-June, November-December]. Input format: The first input containing an integer which denotes the number of the month The second input containing the floating point number which denotes the room rent per day The third input containing an integer which denotes the number of days stayed in the hotel Output format: Print the hotel tariff to be paid in floating point with 2 decimal places Refer the sample output for formatting


Input (stdin)

3
1500
2

Output (stdout)

3000.00

Input (stdin)

1
1500
3

Output (stdout)

4500.00

In [ ]:
m=int(input())
r=float(input())
d=int(input())
# if m in [4,5,6,11,12]:
#   r+=r*0.2
#   print(f"{r*d:.2f}") #or
#   print(f"{total:.2f}")
if m == 4 or m == 5 or m == 6 or m == 11 or m == 12 :
  r+=r*0.2
  print(f"{r*d:.2f}")
else:
  print("%.2f"%(r*d))

1
1500
3
4500.00

# PROBLEM 5

A microwave oven manufacturer recommends that when heating two items, add 50% to the heating time, and when heating three items double the heating time. Heating more than three items at once is not recommended. Write a python program to find out the recommended heating time. Input format: The first input containing an integer which denotes the number of items The second input containing the floating point number which denotes the single item heating time. Output format: Print the recommended heating time in floating point with 2 decimal places. If the number of items is more than three, print "Number of items is more" Refer the sample output for formatting


Input (stdin)

2
5.0

Output (stdout)

7.50

Input (stdin)

3
6.5

Output (stdout)

13.00

In [ ]:
i=int(input())
t=float(input())
if i == 2:
  t+= t*0.5
  print("%.2f"%(t))
elif i== 3:
  t+=t*1
  print("%.2f"%(t))
else:
  print("Number of items is more")

3
6.5
13.00

# PROBLEM 6
There are 3 labs in the CSE department(L1, L2, and L3) with a seating capacity of x, y, and z respectively. Find the lab which has minimal seating capacity.  

Input format:
Input consists of 3 integers
The first input denotes the seating capacity of L1(a)
The second input denotes the seating capacity of L2(b)
The third input denotes the seating capacity of L3(c)

Output format:
Print the minimal seating lab capacity
Refer the Sample output for formatting

Sample Input:
30
40
20

Sample Output:
L3

In [ ]:
l1=int(input())
l2=int(input())
l3=int(input())
# LOGIC 1
# USING TERNARY
r="L1" if l1<l2 and l1<l3 else "L2" if l2<l3 else "L3"
print(r)
# LOGIC 2
USING MIN FUNCTION
r=min(l1,l2,l3)
if(r==l1):
  print("L1")
elif(r==l2):
  print("L2")
else:
  print("L3")


#LOGIC 3
DIRECT METHOD
if (l1<l2):
  if(l1<l3):
    print("L1")
  else:
    print("L3")
else:
  if(l2<l3):
    print("L2")
  else:
    print("L3")

39
99
09
L3

# COMPARE THE REMAINING LABS EXCEPT THE ALLOTED LAB

In [ ]:
l1=int(input())
l2=int(input())
l3=int(input())
a =str(input())

if a=="l1":
  if l2<l3:
    print("L2")
  else:
    print("L3")
elif a=="l2":
  if l1<l3:
    print("L1")
  else:
    print("L3")
else:
  if l1<l2:
    print("L1")
  else:
    print("L2")

2
3
5
L2
L1

# SEATTING LAB FOR NO. OF STUDENTS

In [ ]:
l1=int(input())
l2=int(input())
l3=int(input())
n=int(input())
if n<=l1:
  print("L1")
elif n<=l2:
  print("L2")
elif n<=l3:
  print("L3")
else:
  print("THERE IS NO LAB FOR YOUR SEATTING ARRANGEMENT")

30
23
123
99
L3

# PROBLEM 7
Assume Dhoni's current age is 6. After 3 years, Dhoni's mother Devki Devi would be 4 times Dhoni's age. What is Devki Devi's current age? Write a program to determine the same.

Input Format:
First line of input consists of one integer value as age of Dhoni.

Output Format:
Output should display an integer that specifies Devki Devi's current age.

Sample Input and Output1:
input:6
output:33

Sample Input and Output2:
input:3
output:21

In [ ]:
age=int(input())
age+=3
age*=4
age-=3
print(age)

6
33

# PROBLEM 8
A fruit seller buys a dozen of banana at Rs.X. He sells 1 banana at Rs.Y. Write a program to determine the profit or loss in Rs. for the fruitseller.

Input format:
Input consists of 2 floating point numbers
The first input corresponds to the total cost(X)
The second input corresponds to the sold cost(Y)

Output format:
Print "Profit or Loss" with Rupees.

Sample Input:
60
4

Sample Output:
Loss : Rs.12.00

In [ ]:
x=int(input())
y=int(input())
#profit= 12*y-x
y*=12
profit=y-x
if profit<0:
  print("LOSS: %.2f"%profit)
else:
  print("PROFIT: %.2f"%profit)

60
4
-12

# LOOPING STATEMENTS
# PROBLEM 9

Write a program to generate the following series --- 1,4,9,16,25, .... Input format: The input containing an integer which denotes 'n' Output format: Print the series and refer the sample output for formatting


Input (stdin)

7

Output (stdout)

1 4 9 16 25 36 49



Input (stdin)

5

Output (stdout)

1 4 9 16 25

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i*i,end=" ")

# PROBLEM 10
Write a program to generate the following series --- 0.5,1.5,4.5,13.5,... Input format: The input containing an integer which denotes 'n' Output format: Print the series and refer the sample output for formatting.


Input (stdin)

5

Output (stdout)

0.5 1.5 4.5 13.5 40.5

Input (stdin)

3

Output (stdout)

0.5 1.5 4.5

In [ ]:
n = int(input())
j=0.5
for i in range(1,n):
  #j=0.5
  j*=3
  print(j,end=" ")

5
1.5 4.5 13.5 40.5

# PROBLEM 11-DAY-3

The environmental eco club has discovered a new Amoeba that grows in the order of a Fibonacci series every month. They are exhibiting their amoeba in a national conference. They want to know the size of the amoeba at a particular time instant. If a particular monthâs index is given, write a program to displays the amoebaâs sizeâ¦â¦??? For Example, The size of the amoeba on month 1, 2, 3, 4, 5, 6, ..will be 0, 1, 1, 2, 3, 5, 8 respectively. Input format: The first input containing an integer which denotes the number of the month Output format: Print the amoeba size. Refer the sample output for formatting.


Input (stdin)

7

Output (stdout)

8

Input (stdin)

3

Output (stdout)

1

In [ ]:
a, b = 0, 1
r=[0]
n = int(input("Enter the number of terms: "))
for i in range(n):
  print(a)
  a,b=b,a+b
  r.append(a)
print(r)
print(r[n-1])

#logic 2

n=int(input("enter the n value"))
a,b=0,1
for i in range(2,n+1):
    a,b=b,a+b
print(a,end=" ")

#logic 3

a, b = 0, 1
n = int(input("Enter the number of terms: "))
for i in range(n):
  print(a)
  r=[a]
  a,b=b,a+b
print(r)

Enter the number of terms: 7
0
1
1
2
3
5
8
[0, 1, 1, 2, 3, 5, 8, 13]
8

# PROBLEM 12

Write a program to determine whether 'n' is a factorial number or not. Factorial of a number is the product of all positive numbers from 1 to 'n'. Input format: The input containing an integer 'n' which denotes the given number. Output format: If the given number is factorial, print "Yes". Otherwise, print "No". Refer the sample output for formatting.


Input (stdin)

6

Output (stdout)

Yes

Input (stdin)

2

Output (stdout)

Yes

In [ ]:
num = int(input("Enter a number: "))
a=[]
factorial = 1
for i in range(1, num + 1):
    factorial *= i
    a.append(factorial)
print(a)
if num in a:
  print("Yes")
else:
  print("No")

Enter a number: 6
[1, 2, 6, 24, 120, 720]
Yes

# PROBLEM 13

Description:
A vending machine continues to accept money until the total amount entered reaches or exceeds 100. The program will display a message once the target is achieved.

Input Format:

Multiple integers, one per line, representing money input.
Input terminates when the total reaches or exceeds 100.

Output Format:

Print Target achieved.

Sample Input:
20  
30  
50

Sample Output:
Target achieved

In [ ]:

i=0
while(i<101):
  a=int(input())
  i+=a
  if i==100:
    break

print("Target achieved")

10
90
Target achieved

# PROBLEM 14

A supervisor needs to identify how many employees worked overtime (more than 8 hours). The program will accept the working hours for 6 employees and display the count of overtime workers.

Input Format:
first line of input contains n value integer.
next n integers.
Output Format:
Print Overtime workers: X, where X is the count.
Sample Input:

6

7  
9  
8  
10  
6  
9
Sample Output:
Overtime workers: 3

In [ ]:
n=int(input())
k=0
for i in range(n):
  j=int(input())
  if j>8:
    k+=1#if the value > 8 we will add k var with 1
print("Overtime workers:",k)

2
90
70
Overtime workers: 2

# PROBLEM 15
A program calculates the sum of digits of an integer input using a while loop.

Input Format:

A single integer.

Output Format:

Print Sum of digits: X, where X is the sum.

Sample Input:1234

Sample Output:

Sum of digits: 10

In [ ]:
n=int(input())
sum=0
while(n>0):
  r=n%10
  sum+=r
  n//=10
print("Sum of digits:",sum)

12345
Sum of digits: 15

# PROBLEM 16

A program repeatedly sums the digits of a number until a single-digit result is obtained.

Input Format:

A single integer.

Output Format:

Print Single digit: X, where X is the result.

Sample Input:

Copy code

987

Sample Output:

Single digit: 6

In [ ]:
n=int(input())

while(n>9):
  sum=0
  while(n>0):
      r=n%10
      sum+=r
      n//=10
  n=sum

print("Sum of digits:",n)

12345
Sum of digits: 6

# PROBLEM 17

A program counts the number of words in a given sentence.

Input Format:

A single line of text.

Output Format:

Print Word count: X, where X is the number of words.

Sample Input:

I love programming.

Sample Output:

Word count: 3

In [ ]:
r=input().split()#.splite() is used to split a sentence in to words list or string
print(r)
print("Word count:",len(r))#len() used to find the length of list

# LOGIC 2

print(len(input().split()))

#LOGIC 3

sentence = input()
words = list(map(str.strip, sentence.split()))
word_count = len(words)
print(f"Word count: {word_count}")

I love programming
['I', 'love', 'programming']
Word count: 3

## PROBLEM 18
A program determines if a given number is an Armstrong number.

Input Format:

A single integer.

Output Format:

Print X is an Armstrong number or X is not an Armstrong number.

Sample Input:

153

Sample Output:

153 is an Armstrong number.

In [ ]:
n=int(input())
sum=0
temp=n
n=len(str(n))
print(temp)
while n>0:
  r=n%10
  sum+=r**n
  n//=10
if sum==temp:
  print(temp,"is an Armstrong number")
else:
  print(temp,"is not an Armstrong number")

123
123
123 is not an Armstrong number

# PROBLEM 19
Write a program to generate the following series 5, 16, 49, 104, 181... Input format: The input containing an integer which denotes 'n' Output format: Print the series and refer the sample output for formatting.


Input (stdin)

5
Output (stdout)

5
16
49
104
181

Input (stdin)

10

Output (stdout)

5
16
49
104
181
280
401
544
709
896

In [70]:
n=int(input())
t=5
d=11
for i in range (n):
    print(t)
    t+=d
    d+=22

5
5
16
49
104
181

# PATTREN
TO print + in pattren

In [123]:
#left pattren upper
n=int(input())
for i in range(1,n+1):
  print('*'*i)
  #print(" " * (n - i) + "*" * (2 * i - 1))
print()

5
*
**
***
****
*****

In [122]:
#right pattren upper
n=int(input())
for i in range(1,n+1):
 # print('+'*i)
  print(" " * (n - i) + "*" * i)
print()

5
    *
   **
  ***
 ****
*****

In [116]:
#lower left
n=int(input())
for i in range(n,0,-1):
  print(' * '*i)
print()

5
*****
****
***
**
*

In [119]:
#left lower
n=int(input())
for i in range(n,0,-1):
 # print('+'*i)
  print(" " * (n - i) + " * " * i)
print()

5
*****
 ****
  ***
   **
    *

In [118]:
#upper full triangle
n=int(input())
for i in range(1,n+1):
 # print('+'*i)
  print(" " * (n - i) + " * " * (2 * i - 1))

#lower full triangle
for i in range(n,0,-1):
  print(" " * (n - i) + "*" * (2 * i - 1))
print()

5
    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [124]:
n = int(input("Enter the size of the pattern: "))

for i in range(n):
    for j in range(n):
        if i == j:  # Check if the row and column indices are equal
            print("*", end="")  # Print an asterisk for the diagonal
        else:
            print(" ", end="")  # Print a space otherwise
    print()  # Move to the next line after each row

Enter the size of the pattern: 3
*
 *
  *

In [125]:
n = int(input("Enter the size of the pattern: "))

for i in range(n):
    for j in range(n):
        if i + j == n - 1:  # Check for right diagonal condition
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter the size of the pattern: 5
    *
   *
  *
 *
*

# middle empty square

In [128]:
n = int(input("Enter the size of the pattern: "))

for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:  # Sides condition
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the size of the pattern: 5
* * * * *
*       *
*       *
*       *
* * * * *

# middle empty triangle

In [129]:
n = int(input("Enter the height of the triangle: "))

for i in range(1, n + 1):
    for j in range(1, 2 * n):
        if i == n or j == n - i + 1 or j == n + i - 1:  # Sides condition
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter the height of the triangle: 3
  *
 * *
*****

# middle empty half triangle

In [133]:
n = int(input("Enter the height of the triangle: "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        if i == 1 or i == n or j == 1 or j == i:  # Sides condition
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the height of the triangle: 4
*
* *
*   *
* * * *